.main-form h1 {
    margin-top: 10px;
    font-weight: 500;
    font-family: 'Poppins';
    text-align: left;
    margin-bottom: 30px;
}

.main-form .nft-form {
    width: 60%;
}

.main-form .nft-form h3 {
    font-family: 'Poppins';
    margin-bottom: 10px;
    margin-top: 20px;
}

.form-control:focus {
    border-color: #59a796!important;
    box-shadow: 0 0 0 0.25rem rgba(112, 184, 168, 0.25)!important;
}

.main-form .nft-form .btn-primary {
    background-color: #59a796;
    border-color: #59a796;
}

.main-form .nft-form .btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgb(89 167 150 / 50%)!important;
}

.main-form .nft-form .btn-primary:not(:disabled):not(.disabled):active {
    background-color: #3f5c56!important;
    border-color: #3f5c56!important;
}

.main-form .nft-form .btn-upload {
    margin-bottom: 50px;
}