.edit-body .btn-save {
    display: flex;
    position: absolute;
    right: 30px;
}

.edit-body .btn-save {
    background-color: #59a796;
    border-color: #59a796;
}

.edit-body .btn-save:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgb(89 167 150 / 50%)!important;
}

.edit-body .btn-save:not(:disabled):not(.disabled):active {
    background-color: #3f5c56!important;
    border-color: #3f5c56!important;
}
.edit-body .form-group {
    width: 300px;
}