.main-body {
    margin-bottom: 50px;
}

.main-body h1 {
    font-family: 'Poppins';
    font-weight: 600;
    margin-bottom: 20px;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.img-wrapper .nft-img {
    max-height: 500px;
    height: 100%;
    width: auto;
    border-radius: 30px;
    box-shadow: rgb(4 17 29 / 50%) 0px 0px 8px 0px;
}

.card.nft-description {
    display: flex;
    border-radius: 15px;  
    padding: 10px;
}

.nft-description .created-by {
    font-size: 14px;
    font-family: 'Poppins';
}

.nft-description .created-by .created-by-link {
    color: #5b6464;
    text-decoration: none;
}

.nft-description .created-by .created-by-link:hover {
    color: #59a796;
    text-decoration: none;
}

.nft-description .title-id {
    font-size: 20px;
    color: #5b6464;
    text-decoration: none;
}

.nft-description .description-title {
    margin-top: 10px;
    font-family: 'Poppins';
    font-weight: 600;
}

.nft-description h4 {
    font-family: 'Poppins';
    font-size: 14px;
    margin-bottom: 10px;
}

.nft-description p {
    font-family: 'Poppins';
    font-size: 14px;
    margin-bottom: 10px;
}

.nft-description p a {
    text-decoration: none;
    color: #5b6464;
}

.nft-description p a:hover {
    color:#59a796
}


.accordion-button:not(.collapsed) {
    color: #59a796!important;
    background-color: rgb(4 17 29 / 8%)!important;
}

.accordion-buy h6 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 0;
    color: #5b6464;

}

.accordion-buy .price {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 0;

}

.accordion-buy img {
    height: 30px;
    width: 30px;
}

.accordion-buy .button-col {
    text-align: end;
    align-self: center;
}

.accordion-buy .button-col .btn-primary {
    background-color: #59a796;
    border-color: #59a796;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2359a796'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>")!important;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgb(89 167 150 / 50%)!important;
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #3f5c56!important;
    border-color: #3f5c56!important;
}

.nft-history {
    margin-bottom: 50px;
}

.nft-history h2 {
    font-family: 'Poppins';
    font-weight: 600;
    margin-bottom: 20px;
}


.nft-history th {
    font-family: 'Poppins';
}

.nft-history td {
    font-family: 'Poppins';
    color: black;
}

.nft-history td img {
    width: 25px;
    height: 25px;
}

.nft-history td a {
    text-decoration: none;
    color: black;
}

.nft-history td a:hover {
    color: #59a796;
}
