body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
 
.card-body .edit-link {
    text-decoration: none;
}

.card-body .icon-edit {
    display: flex;
    position: absolute;
    right: 30px;
    color: black;
}

.list-group .text-secondary:hover {
    text-decoration: none;
    color: #59a796!important;
}

.img-account {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid #d7e0e0;
    object-fit: cover;
}

.username {
    font-family: 'Poppins';
    font-weight: 500;
}

.links .username-div {
    display: flex;
    justify-content: center; 
}

.img-verified {
    margin-left: 5px;
    margin-top: 5px;
    width: 20px;
    height: 20px;
}

.links a {
    text-decoration: none;
    color: black;
}

.links a:hover {
    text-decoration: none;
    color: black;
}

.media-card{
    margin-bottom: 50px;
}

.media-card h1 {
    font-family: 'Poppins';
}

.card.nft-card {
    border-top-left-radius:30px 30px;
    border-top-right-radius:30px 30px;
}

.nft-card {
    margin-bottom: 40px;
}

.nft-card .card-nft-body {
    padding-bottom: 0!important;
}

.nft-card .card-nft-body .price-tag {
    display: flex;
    height: 10%;
    width: 40%;
    right: 15px;
    top: 50px;
    position: absolute;
    background-color: rgb(89,167,150, 0.9);
    z-index: 2;
    border-top-left-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
    align-items: center;
    justify-content: center;
}

.nft-card .card-nft-body .price-tag .price-tag-text {
    font-family: 'Poppins';
    margin-bottom: 0;
    margin-right: 5px;
}

.nft-card .card-nft-body .price-tag img {
    height: 20px;
    width: 20px;
}

.nft-card .card-nft-body .nft-img-wrapper {
    height: 100%;
}

.nft-card .card-nft-body .nft-img-wrapper .img-nft {
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 30px;
}

.nft-card .card-nft-body .row-nft {
    margin-left: -16px;
    margin-right: -16px;
    text-align: center;
}

.nft-card .card-nft-body .row-nft .nft-buttons {
    border: 1px solid #ccd4d4;
    padding: 10px;
}

.nft-card .card-nft-body .row-nft .nft-buttons h6 {
    margin-bottom: 0;   
}

.nft-card .card-nft-body .row-nft .nft-buttons a {
    color: #5b6464;
    font-size: 20px;
}

.nft-card .card-nft-body .row-nft .nft-buttons a:hover {
    color: #59a796;   
}

.nft-card .card-nft-body .row-nft .nft-buttons i {
    font-size: 20px;   
}

.nft-card .card-nft-body .row-nft .nft-buttons img {
    height: auto;
    width: 100%;   
}
