extends layout

block content

    div(class="container"  )
      div(class="main-form")
        h1 Create your NFT
        div(class='nft-form')
          form(action="/" method="POST" target="blank")
            div(class="form-group")
              label(for="metadataName") NFT Name*
              input(id='metadataName' type='text' name='nome' class="form-control")
            
            div(class="form-group")
              label(for="exampleFormControlSelect1") Type of Product*
              select(class="form-control" id="exampleFormControlSelect1" data-select)
                option Watch
                option Jewellery
                option Clothes
                option Shoes
                option Bags
            
            div(class="form-group d-none select-clothes" data-show-clothes data-show)
              label(for="exampleFormControlSelect2") Up or Down Body?
              select(class="form-control" id="exampleFormControlSelect2" data-select-clothes disabled)
                option Shirt/Coat
                option Trousers/Shorts

            h3 Product Information:
            div(class="form-group")
              label(for="metadataDescription") Description*
              textarea(id='metadataDescription' class="form-control" name="metadataDescription" placeholder="Write a brief description about your product" rows="3")
            
            div(class="form-group")
              label(for="metadataBrand") Brand ID
              input(id='metadataBrand' type='text' name='brand_id' class="form-control")
            
            div(class="form-group")
              label(for="metadataMadeIn") Made In
              input(id='metadataMadeIn' type='text' name='made_in' class="form-control")
            
            div(class="form-group")
              label(for="metadataColor") Color
              input(id='metadataColor' type='text' name='color' class="form-control")
            
            h3 Product measurements:
            div(class="form-group d-none" data-show data-show-watch data-show-jewellery)
              label(for="metadataCircumference") Circumference
              input(id='metadataCircumference' type='text' name='circumference' class="form-control" disabled)

            div(class="form-group d-none" data-show data-show-watch)
              label(for="metadataDiameter") Diameter
              input(id='metadataDiameter' type='text' name='diameter' class="form-control" disabled)
            
            div(class="form-group d-none" data-show data-show-watch data-show-bags)
              label(for="metadataHeight") Height
              input(id='metadataHeight' type='text' name='height' class="form-control" disabled)

            div(class="form-group d-none" data-show data-show-watch data-show-bags data-show-jewellery)
              label(for="metadataWidth") Width
              input(id='metadataWidth' type='text' name='width' class="form-control" disabled)
            
            div(class="form-group d-none" data-show data-show-bags)
              label(for="metadataDepth") Depth
              input(id='metadataDepth' type='text' name='depth' class="form-control" disabled)

            div(class="form-group d-none" data-show data-show-bags)
              label(for="metadataHandle") Handle
              input(id='metadataHandle' type='text' name='handle' class="form-control" disabled)
            
            div(class="form-group d-none" data-show data-show-jewellery)
              label(for="metadataLength") Length
              input(id='metadataLength' type='text' name='length' class="form-control" disabled)
            
            div(class="form-group d-none" data-show-shirt data-show-c)
              label(for="metadataSize") Size
              select(id='metadataSize' class="form-control" disabled)
                option XS
                option M
                option L
                option XL
                option XXL

            div(class="form-group d-none" data-show-trousers data-show-c)
              label(for="metadataSize") Size
              input(id='metadataSize' type='text' name='size' placeholder='(Ex: 42)' class="form-control" disabled)
            
            
            div(class="form-group d-none" data-show data-show-shoes)
              label(for="metadataSizeShoe") Size
              input(id='metadataSizeShoe' type='text' name='size' placeholder='(Ex: 42)' class="form-control" disabled)
            
            h3 Composition:
            div(class="form-group")
              label(for="metadataDescription") Product Composition*
              textarea(id='metadataDescription' class="form-control" name="metadataDescription" placeholder="Composition about your product (Ex: 100% Cottom)")
            
            h3 Upload Photo:
            div(class="preview")
              img(id="file-ip-1-preview")
              label(for="file-ip-1") Upload Image
              input(type="file" id="file-ip-1" accept="image/*" onchange="showPreview(event);")


            h3 Now you just have to click on the magic button:
            div(class="btn-upload")
              button(type='submit' class='btn btn-primary') Create
    
    script.
    script(src="/javascripts/select.js")
    script(src="/javascripts/up.js")
