extends layout

block content

    a(name="home")
      div(class="container")
        div(class="main-form")
          h1 Create your NFT
          div(class='nft-form')
            form
              div(class="form-group")
                label(for="metadataName") NFT Name*
                input(id='metadataName' type='text' name='nome' placeholder='Nome' class="form-control")
              
              div(class="form-group")
                label(for="exampleFormControlSelect1") Type of Product*
                select(class="form-control" id="exampleFormControlSelect1")
                  option Watch
                  option Jewellery
                  option Clothes
                  option Shoes
                  option Bags 

              h3 Product Information:
              div(class="form-group")
                label(for="metadataDescription") Description*
                textarea(id='metadataDescription' class="form-control" name="metadataDescription" placeholder="Description" rows="3")
              
              div(class="form-group")
                label(for="metadataName") Brand ID
                input(id='metadataName' type='text' name='brand_id' placeholder='Brand ID' class="form-control")
              
              div(class="form-group")
                label(for="metadataName") Made In
                input(id='metadataName' type='text' name='made_in' placeholder='Made In' class="form-control")
              
              div(class="form-group")
                label(for="metadataName") Color
                input(id='metadataName' type='text' name='color' placeholder='Color' class="form-control")
              
              h3 Product measurements:
              div(class="form-group")
                label(for="metadataName") Circumference
                input(id='metadataName' type='text' name='nome' placeholder='Nome' class="form-control")

              div(class="form-group")
                label(for="metadataName") Diameter
                input(id='metadataName' type='text' name='diameter' placeholder='Diameter' class="form-control")
              
              div(class="form-group")
                label(for="metadataName") Height
                input(id='metadataName' type='text' name='nome' placeholder='Nome' class="form-control")

              div(class="form-group")
                label(for="metadataName") Width
                input(id='metadataName' type='text' name='nome' placeholder='Nome' class="form-control")

              h3 Composition:
              div(class="form-group")
                label(for="metadataDescription") Description*
                textarea(id='metadataDescription' class="form-control" name="metadataDescription" placeholder="Description" rows="3")
              

              button(id='upload' type='submit' class='btn btn-primary') Upload