extends layout

block content

  a(name="home")
  div(class="container")
    div(class="main-body edit-body")
      div(class="row gutters-sm justify-content-center")
        div(class="col-md-6 align-items-center")
          div(class="card")
            div(class="card-body")
              button(id='save' type='submit' class='btn btn-primary btn-save') Save
              div(class="d-flex flex-column align-items-center")
                img(class="img-account" src='https://imageio.forbes.com/specials-images/imageserve/5ce316de87fac400077d52a5/0x0.jpg?format=jpg&crop=416,416,x0,y0,safe&height=416&width=416&fit=bounds' alt='Admin')
                div(class="mt-3 links")
                  div(class="username-div")
                    form
                      div(class="form-group")
                        label(for='metadataUsername') Username
                        input(id='metadataUsername' type='text' name='nome' placeholder='Rolex' class="form-control")
                      div(class="form-group")
                        label(for='metadataLocation') Location
                        input(id='metadataLocation' type='text' name='nome' placeholder='Esposende, Braga' class="form-control")
                      div(class="form-group")
                        label(for='metadataLocation') Website
                        input(id='metadataLocation' type='text' name='nome' placeholder='https://www.rolex.com' class="form-control")
                      div(class="form-group")
                        label(for='metadataLocation') Github
                        input(id='metadataLocation' type='text' name='nome' placeholder='https://github.com/AndreMorais98' class="form-control")
                      div(class="form-group")
                        label(for='metadataLocation') Twitter
                        input(id='metadataLocation' type='text' name='nome' placeholder='https://twitter.com/Rolex' class="form-control")
                      div(class="form-group")
                        label(for='metadataLocation') Instagram
                        input(id='metadataLocation' type='text' name='nome' placeholder='https://www.instagram.com/rolex/' class="form-control")
  div(class="footer")
    div(class="container footer-container")
      div(class="row footer-row")
        div(class="col-md-12 col-lg-12")
          a(href="https://www.facebook.com/andre.morais1998/")
            i(class="fa fa-facebook-official fa-7x w3-hover-opacity")
          a(href="https://github.com/AndreMorais98")
            i(class="fa fa-github fa-7x w3-hover-opacity")
          a(href="https://www.linkedin.com/in/andremorais1998/")
            i(class="fa fa-linkedin fa-7x w3-hover-opacity")
        div(class="col-md-12 col-lg-1 line-div")
      div(class="row developer-line")
        div(class="col-12")
          p © 2022 - Developed by André Morais
      div(class="button-position")
        a(href="#home")
          i(class="fa fa-arrow-up fa-7x")