extends layout

block content

    div(class="container"  )
      div(class="upload-form-step2")
        h1 Upload Images
        h3 Step 2

        button(class="btn btn-primary" onclick="location.href='../files/nft_collection_form.csv'") Download CSV File

        p(style="margin-bottom: 5px") Upload the photos that will represent your nft before filling out the .csv file, giving them numerical names to make them easier to handle, for example, 0.png. 
        p After the upload of the images, you just have to choose which image correspond to each NFT, in the 'Image name' column on your csv.
        form(action="")
          div
            label(for="upload")
              input(type="file" id="upload" multiple) 
              | Upload Files
          div(class="files")
            h2(style="margin-top: 0") Files Selected
            ul
          
          div(class="btn-upload")
              button(type='submit' class='btn btn-primary' onclick="uploadImage()") Continue

    script.

      uploadImage = () => {
        const file = new Moralis.File(data.name, data)
        file.saveIPFS();
        console.log(file.ipfs(), file.hash());
        return file.ipfs();
      }

    script(src="/javascripts/up.js")
